@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sbdocs {
  background: transparent !important;
  padding: 0 !important;
  gap: 0 !important;
}

.nextra-content p,
.nextra-content li {
  color: white !important;
}

.sbdocs-content {
  max-width: 100% !important;
}

.sbdocs-content > div > .nx-flex {
  margin-left: auto !important;
  margin-right: auto !important;
}

.nextra-toc ul,
.nextra-menu-desktop,
.nextra-menu-desktop ul {
  padding-left: auto !important;
  list-style: none !important;
}