@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #11101F !important;
}

.nextra-nav-container {
  border-bottom: solid 1px hsla(203, 50%, 30%, 0.15) !important;
}

.nextra-nav-container > nav {
  background-color: #11101F !important;
}

.nextra-nav-container-blur {
  display: none;
}

.nextra-toc > div > div {
  background: none !important;
  box-shadow: none !important;
  border-top: solid 1px hsla(203, 50%, 30%, 0.15) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sbdocs {
  background: transparent !important;
  padding: 0 !important;
  gap: 0 !important;
}

.nextra-content p,
.nextra-content li,
.nextra-toc p {
  color: white !important;
}

.sbdocs-content {
  max-width: 100% !important;
}

.sbdocs-content > div > .nx-flex {
  margin-left: auto !important;
  margin-right: auto !important;
}

.nextra-toc ul,
.nextra-menu-desktop,
.nextra-menu-desktop ul {
  padding-left: auto !important;
  list-style: none !important;
}

.docblock-code-toggle--disabled {
  display: none !important;
}

.rb-code {
  color: #029CFD !important;
}

.rb-code-block {
  margin-top: 1px;
  background: transparent;
}

.rb-code-block code  {
  display: block !important;
}

.sbdocs-preview {
  border-color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)94%/.1) !important;
}